{% render 'partials/head.liquid' %}

<article>
  
  <header>
    
    <h1>{{ person.name }}</h1>
    
    <p><em>Frontend design & development</em></p>    

    
  </header>

  <img src="20230203-CZ-HappyHome-28407.jpg" alt="" width="800" height="800">

  <div>
    <p>Jarig op: <br> {{ person.birthdate | date: "%d-%m-%Y" }}</p>
    <p>Persoonlijkheid: {{custom.Persoonlijkheid}}</p>

  </div>

  <p> Contact </p>
  <ul>
    <li>06 10154686</li>
    <li>anouk.de.rooij@hva.nl</li>
    <li><a href="https://anoukderooij24.github.io/i-love-web/">I love web website</a> </li>
  </ul>
  
</article>

<script src="scripts/script.js"></script>
    

{% render 'partials/foot.liquid' %}

