* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  --groen: rgb(177, 216, 183, 1);
  --beige: rgb(249, 245, 239, 1);
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: var(--groen);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 2rem 0 1rem;
  color: rgb(0, 0, 0);
}

img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: var(--beige);
}

ul {
  padding-bottom: 2em;
  li {
    list-style: none;
    text-align: center;
  }
}


p { 
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 1rem 2rem;
  text-align: center;
}



